<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% if page.title %}{{ page.title }} • {% endif %}{{ site.title }}</title>
    {% if page.description %}
    <meta name="description" content="{{ page.description }}" />
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/theme/css/app.css">
    <script src="/theme/js/vendor/modernizr.min.js"></script>
  </head>
  <body>

    <header class="row">
      <div class="large-12 columns">

        <!--[if lt IE 9]>
        <div data-alert class="alert-box warning">
          You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.
          <a href="#" class="close">&times;</a>
        </div>
        <![endif]-->

        <div class="contain-to-grid sticky">
          <nav class="top-bar" data-topbar>
            <ul class="title-area">
              <li class="name"><h1><a href="/index.html">{{ site.title }}</a></h1></li>
              <li class="toggle-topbar menu-icon"><a href=""><span></span></a></li>
            </ul>

            <section class="top-bar-section">
              <ul class="left">
                {% assign pages_list = site.pages %}
                {% assign group = 'navigation' %}
                {% include pages_list %}
              </ul>

              <ul class="right addthis_toolbox addthis_default_style">
                <li><a rel="external publisher" href="https://plus.google.com/106989178867358849938?rel=author" title="Follow on Google+"><i data-icon="+" class="icon"></i> <span class="visuallyhidden">Google</span></a></li>
                <li><a rel="external" href="https://drupal.org/user/70527" title="Follow on Drupal"><i data-icon="d" class="icon"></i> <span class="visuallyhidden">Drupal</span></a></li>
                <li><a rel="external" href="https://github.com/gormus" title="Follow on GitHub"><i data-icon="a" class="icon"></i> <span class="visuallyhidden">GitHub</span></a></li>
                <li><a rel="external" class="addthis_button_linkedin_follow" title="Follow on LinkedIn" addthis:userid="gormus"><i data-icon="i" class="icon"></i> <span class="visuallyhidden">LinkedIn</span></a></li>
                <li><a rel="external" class="addthis_button_twitter_follow" title="Follow on Twitter" addthis:userid="osmangormus"><i data-icon="t" class="icon"></i> <span class="visuallyhidden">Twitter</span></a></li>
              </ul>
            </section>
          </nav>
        </div>

      </div>
    </header>


    {{ content }}


    <footer class="row">
      <div class="large-12 columns">
        <hr>

        This work by <a xmlns:cc="http://creativecommons.org/ns#" href="http://gorm.us/" property="cc:attributionName" rel="cc:attributionURL">Osman Gormus</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.&nbsp;
        <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Creative Commons License" style="border-width:0" src="http://i.creativecommons.org/l/by/4.0/80x15.png" /></a>
      </div>
    </footer>


    <script src="/theme/js/vendor/jquery.min.js"></script>
    <script src="/theme/js/vendor/foundation.min.js"></script>
    <script src="/theme/js/app.min.js"></script>


    {% include google_analytics %}
    {% include addthis %}
  </body>
</html>
