---
layout: bare
---


<div class="row">
  <div class="medium-8 columns">

    <article data-id="{{ post.id }}">
      <h1>{{ page.title }}</h1>
      {% unless page.date == empty %}
      <h6 class="subheader" itemscope itemtype="http://data-vocabulary.org/Person">
        by <span itemprop="name">{{ site.author.name }}</span> on
        <time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time>
      </h6>
      {% endunless %}

      {{ content }}

      {% unless page.tags == empty %}
        <ul class="inline-list">
          <li><i class="icon-tags">Tags: </i></li>
          {% assign tags_list = page.tags %}
          {% include tags_list %}
        </ul>
      {% endunless %}
    </article>

    {% include disqus %}

  </div>
  <div class="medium-4 columns">
    <div class="panel radius">
      <h3>Recent posts</h3>
      {% for post in site.posts %}
        <dl class="post-teaser" data-id="{{ post.id }}">
          <dt>
            <a href="{{ entry.url }}">{{ post.title }}</a>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d" }}</time>
          </dt>
          <dd>{{ post.description }}</dd>
        </dl>
      {% endfor %}
    </div>

    <div class="panel radius">
      <h3>Related posts</h3>
      {% for post in site.related_posts %}
        <dl class="post-teaser" data-id="{{ post.id }}">
          <dt>
            <a href="{{ entry.url }}">{{ post.title }}</a>
            <time datetime="{{ post.date | date_to_xmlschema }}">{{ post.date | date: "%b %d" }}</time>
          </dt>
          <dd>{{ post.description }}</dd>
        </dl>
      {% endfor %}
    </div>
  </div>
</div>
